h3 {
  font-size: 24px !important;
}

h4 {
  font-size: 20px !important;
}

p {
  font-size: 18px;
  margin-bottom: 10px !important;
}

code {
  font-family: MyFancyCustomFont, monospace;
  font-size: inherit;
}

p > code,
li > code,
dd > code,
td > code {
  background: #eff3ff;
  word-wrap: break-word;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}

pre code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
}
